@using GalleryWebApplication.Helpers;
@inject SessionHelper sessionHelper;
@{
    bool authorization = sessionHelper.GetObjectFromJson<bool>(Context, "Authorization");
    string userName = sessionHelper.GetObjectFromJson<string>(Context, "UserName");
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" class="h-100">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Material Design for Bootstrap 5 css -->
    <link href="~/lib/mdb-ui-kit/mdb.min.css" rel="stylesheet" />
    <!-- GlightBox css -->
    <link href="~/lib/glightbox/dist/css/glightbox.min.css" rel="stylesheet" />
    <!-- Site css -->
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("StyleSheet", required: false)
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-1-strong">
            <div class="container">
                <!-- Navbar brand -->
                <a href="@Url.Action("index", "gallery")" class="navbar-brand nav-link">
                    <img src="~/img/logo.png" alt="Galeria zdjęć" />
                </a>

                <!-- Navbar toggler -->
                <button type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                    <i class="fas fa-bars"></i>
                </button>

                <div id="navbarNav" class="collapse navbar-collapse">
                    <!-- Navbar left -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("index", "gallery")" id="home" class="nav-link">Strona główna</a>
                        </li>
                        @if (authorization)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("privatephotos", "gallery")" id="privatePhotos" class="nav-link">Moja galeria</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("addphoto", "gallery")" id="addPhoto" class="nav-link">Dodaj zdjęcie</a>
                            </li>
                        }
                    </ul>

                    <!-- Navbar right -->
                    <ul class="navbar-nav">
                        @if (!authorization)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("login", "account")" class="nav-link">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("registration", "account")" class="btn btn-outline-light custom-btn-rgba mx-2">Utwórz konto</a>
                            </li>
                        }
                        else
                        {
                            <li class="d-none d-lg-block">
                                <span class="user-display text-white-50">[ @userName ]</span>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("logout", "account")" class="nav-link">Wyloguj się</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer mt-auto py-3 border-top">
        <div class="container">
            <span class="text-white-50">&copy; 2021 - Galeria zdjęć</span>
        </div>
    </footer>

    <!-- jQuery js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Material Design for Bootstrap 5 js -->
    <script src="~/lib/mdb-ui-kit/mdb.min.js"></script>
    <!-- GlightBox js -->
    <script src="~/lib/glightbox/dist/js/glightbox.min.js"></script>
    <!-- Change navbar color on scroll (add class to navbar) script -->
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>

    @if (@ViewBag.Active != null)
    {
        <script>
            /* Add class to active item in menu script */
            $(document).ready(function () {
                document.getElementById("@ViewData["Active"]").classList.add("active")
            });
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>