@model IEnumerable<GalleryWebApplication.Models.PhotoViewModel>

@using GalleryWebApplication.Helpers;
@inject SessionHelper sessionHelper;
@{ bool authorization = sessionHelper.GetObjectFromJson<bool>(Context, "Authorization"); }

@{
    ViewBag.Title = "Strona główna";
    ViewBag.Active = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Background image/video -->
<div id="intro" class="bg-image vh-100 shadow-1-strong">
    <video playsinline autoplay muted loop>
        <source src="~/video/animation.mp4" type="video/mp4" />
    </video>

    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white animated fade-in-ip">
                <h1 class="mb-3">Galeria zdjęć</h1>
                <h5 class="mb-4">Projekt zaliczeniowy</h5>
                @if (authorization)
                {
                    <a href="@Url.Action("addphoto", "gallery")" class="btn btn-outline-light custom-btn-rgba btn-lg m-2">Dodaj zdjęcie</a>
                }
                else
                {
                    <a href="@Url.Action("login", "account")" class="btn btn-outline-light custom-btn-rgba btn-lg m-2">Zaloguj się</a>
                }
            </div>
        </div>
    </div>
</div>

<div id="main" class="container my-3 border bg-light">
    @{
        if (Model.Count() == 0)
        {
            <div class="row my-4">
                <div class="col text-center text-black-50">
                    Nie ma jeszcze żadnych udostępnionych zdjęć. Bądź pierwszy - dodaj zdjęcie do swojej galerii i udostępnij je innym.
                </div>
            </div>
        }
        else
        {
            <div class="row my-4 filter-buttons">
                <div class="col text-center">
                    <button class="btn mt-2 mx-1 btn-sm btn-outline-info" data-filter-btn="all" autofocus="autofocus">Wszystkie</button>
                    @{
                        foreach (var category in ViewBag.Categories)
                        {
                            <button class="btn mt-2 mx-1 btn-sm btn-outline-info" data-filter-btn="@category">@category.Replace("-", " ")</button>
                        }
                    }
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 mb-4">
                @foreach (var photo in Model)
                {
                    <div data-filter="@string.Join(" ", photo.Categories)" class="col">
                        <div class="card border border-white h-100 shadow-1-strong">
                            <div class="bg-image">
                                <a href="@photo.PhotoPath" data-gallery="@System.IO.Path.GetFileNameWithoutExtension(photo.PhotoPath)" data-title="@photo.Title" data-description="@photo.Descripton" class="glightbox">
                                    <img src="@photo.PhotoPath" alt="" class="img-scale" />
                                    <div class="img-info">
                                        <span class="badge">@photo.Resolution</span>
                                        <span class="badge">@photo.Size KB</span>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="pb-3">
                                    @{
                                        foreach (var category in photo.Categories)
                                        {
                                            <span class="badge bg-info">@category.Replace("-", " ")</span>
                                        }
                                    }
                                </div>
                                <h6 class="card-title fw-bold">@photo.Title</h6>
                                <p class="card-text">@photo.Descripton</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Aktualizacja: @photo.DateTimeModify</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@section StyleSheet{
    <style>
        /* Navbar color */
        .navbar {
            background: rgba(0, 0, 0, 0);
        }

        /* Change navbar color depending on resolution */
        @@media (max-width: 992px) {
            .navbar {
                background: -moz-linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(100, 83, 202, 1) 100%);
                background: -webkit-linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(100, 83, 202, 1) 100%);
                background: linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(100, 83, 202, 1) 100%);
            }
        }

        /* Change navbar color on scroll */
        .navbar.scrolled {
            background: -moz-linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(116, 82, 187, 1) 100%) !important;
            background: -webkit-linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(116, 82, 187, 1) 100%) !important;
            background: linear-gradient(45deg, rgba(205, 83, 120, 1), rgba(116, 82, 187, 1) 100%) !important;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            /* GlightBox script */
            const lightbox = GLightbox({
                zoomable: false
            });

            /* jQuery filter script */
            $("[data-filter-btn]").click(function () {
                var value = $(this).attr("data-filter-btn");

                if (value == "all") {
                    $("[data-filter]").show(500);
                }
                else {
                    $("[data-filter]").not("[data-filter~=" + value + "]").hide(500);
                    $("[data-filter]").filter("[data-filter~=" + value + "]").show(500);
                }
            });
        });
    </script>
}